/* shared botkit ui styles */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #494c4c;
  font-family: "Roboto", sans-serif;
}

.wrapper {
    position: fixed;
    max-width: 475px;
    z-index: 9;
    right: 175px;
    bottom: 30px;
    box-shadow: 4px 4px 5px #464545;
    width: 100%;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  border: 2px solid #CCC;
  padding: 1rem calc(1rem - 2px);
  margin-bottom: 1rem;
}
.box:after {
  content: "";
  display: table;
  clear: both;
}
.box h1,
.box h2,
.box h3 {
  margin-top: 0;
}

footer {
  text-align: center;
}

.hero {
  text-align: center;
  padding: 2rem;
}
.hero h1 {
  font-size: 4rem;
  margin: 0;
}

a {
  color: #a795ef;
}

.copyurl {
  width: 100%;
  font-size: 1.25rem;
}

div.input label {
  font-weight: bold;
  font-size: smaller;
}

.addon {
  display: flex;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px;
  background: #F0F0F0;
}
.addon input,
.addon textarea {
  flex-grow: 1;
  border: 0;
  background: transparent;
}
.addon button {
  flex-grow: 0;
  background: transparent;
  border: 1px solid #999;
  border-radius: 6px;
  font-weight: bold;
}
.addon button.textarea {
  align-self: flex-start;
  padding: 0.5rem;
}
.addon button:hover {
  background: #FFF;
  color: #a795ef;
}

div.hr {
  border: 1px dashed #ccc;
  width: 10%;
  margin: 4rem auto;
  height: 1px;
}

a.button {
  border: 2px solid #a795ef;
  font-weight: bold;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  transition: box-shadow 0.1s linear;
}
a.button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* chat client */
#message_window {
  background: #646666;
  /*height: 500px;
  width: 320px;*/
  height: 100%;
  width: 100%;
  /*margin: 2rem auto;*/
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#message_window .disconnected {
  background: #FFFFCC;
  padding: 0.25rem;
}
#message_window.connected .disconnected {
  display: none;
}
#message_window .offline {
  display: none;
}
#message_window.offline .disconnected {
  display: none;
}
#message_window.offline .offline {
  background: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  display: block;
}
#message_window .powered_by {
  flex-shrink: 0;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: white;
  background: #741eb5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#message_window .powered_by a {
  text-decoration: none;
  color: white;
}
#message_window .powered_by img {
  position: relative;
  top: 2px;
}
#message_window section {
  flex-grow: 1;
  flex-direction: column-reverse;
  display: flex;
  overflow-y: auto;
}
#message_window section div div {
  margin: 0.25rem;
  clear: both;
}
/* #message_window footer {
  padding: 20px 0px 0px 0px;
} */
#message_window footer input[type=text] {
  flex-grow: 1;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  padding: 10px;
  color: white;
  background: #797979;

}

#message_window footer input[type=text]::placeholder {
  color: #c5c2c2;
}

#message_window footer button {
  width: 50px;
  background: none;
  border: 0;
  cursor: pointer;
  color: #e4eaea;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  background: #5a5757;
}

#message_window footer button:hover {
  background: #3e3d3d;
  transition: .2s ease-out;
}

#message_window form {
  display: flex;
  margin: 0;
}
#message_window #message_template {
  display: none;
}
#message_window .message {
  font-size: 16px;
  padding: 0.5rem;
  background: #0cad99;
  color: white;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  max-width: 75%;
}
#message_window .file_attachment {
  background: #F0F0F0;
  color: #333;
  border-radius: 5px;
  display: inline-block;
  max-width: 75%;
}
#message_window .file_attachment img {
  max-width: 100%;
  display: block;
}
#message_window .button_message {
  margin: 1rem 0;
  border-radius: 4px;
  border-color: orange;
  border-style: solid;
  color: orange;
  border-width: 1px;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  display: block;
}
#message_window .message p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#message_window .message p:last-child {
  margin-bottom: 0;
}
#message_window .message.outgoing {
  float: right;
  background: #b460ea;
  color: white;
}
#message_window #message_replies {
  text-align: center;
  overflow-x: auto;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
}
#message_window #message_replies ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
}
#message_window #message_replies ul li {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 0;
}
#message_window #message_replies a {
  text-decoration: none;
  display: block;
  border: 1px solid #cabff5;
  color: #dad1fd;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0;
}
#message_window #message_replies a:hover {
  background: #992ae0;
  color: #FFF;
  transition: .2s;
  border: 1px solid #992ae0;
}

/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  position: relative;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #333;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
/* special styles for homepage */
#home {
  position: relative;
  max-width: 650px;
  margin: auto;
}
#home:after {
  content: "";
  display: table;
  clear: both;
}

#homepage_bot {
  width: 400px;
  height: 450px;
  float: left;
  border: 5px solid #333;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#homepage_bot iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

#welcome {
  margin-left: 440px;
}

/* STYLING ADDED FOR INTERACTIVE HELP BOX */


#help-box-container{
  position: absolute;
  width: 300px;
  height: 200px;
  max-width: 300px;
  max-height: 200px;
  right: 30px;
  top: 30px;

  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #403d3d;
  background: #c5c1c1;

  z-index: 5;
}

#help-box-container p{
  user-select: none;
}

.message-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.message-box-buttons{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.icon-addons{
  user-select: none;
}

.icon-addons:hover{
  cursor: pointer;
}

.help-box-message{
  height: 80px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.hidden-now{
  visibility: hidden;
}

.visible-now{
  visibility: visible;
}

#help-button{
  position: absolute;
  right: 50px;
  top: 30px;
  user-select: none;
  color: white;
  font-size: 40px;
}

#help-button:hover{
  cursor: pointer;
}

.message-box-header{
  width: 100%;
}

#close-help-box-button{
  margin-left: 90%;
}






/* STYLING ADDED FOR INTERACTIVE HELP BOX */



/*# sourceMappingURL=styles.css.map */


/* STYLING FOR CHAT BUTTON */

.toggle-display {
  display: none;
}

#chat-button {
  background: linear-gradient(to bottom, #c68eea, #741eb5);
  padding: 30px;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 4px 4px 5px #3e3c3c;
  z-index: 10;
}

#chat-button:hover {
  background: linear-gradient(to bottom, #bd7ce4, #62199a);
  transition: .5s ease-out;

}

#message_list {
    max-height: 500px;
    overflow: auto;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: default;
}

.chatbot-logo {
  margin: 0 0 10px 0;

  font-family: 'Press Start 2P';
  font-size: 50px;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation-name: animatingbackground;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animatingbackground{
    0%{
        background-color: #DF0800;
    }

    13%{
        background-color: #F27242;
    }

    25%{
        background-color: #FEBF2D;
    }

    38%{
        background-color: #D1DF00;
    }

    50%{
        background-color: #8DCD59;
    }

    63%{
        background-color: #59B5E4;
    }

    75%{
        background-color: #B36DDD;
    }

    88%{
        background-color: #ED5D92;
    }

    100%{
        background-color: #DF0800;
    }
}

#message_list::-webkit-scrollbar{
    width: 10px;
    background: rgb(127 124 127);
    margin-top: 75px;
}

#message_list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 10px;
}

#message_list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.178);
}

/* links to portfolio sites */

.portfolio-links {
  position: fixed;
  left: 20px;
  bottom: 35px;
  cursor: default;
}

.portfolio-links a {
  text-decoration: none;
  border: 1px solid #cabff5;
  color: #cabff5;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.portfolio-links a:hover {
  border: 1px solid #131313;
  background: #131313;
  color: #FFFFCC;
  transition: 0.3s linear;
    cursor: pointer;
}

.hunter-link {
  padding: 4px 8px;
}

.shree-link {
  padding: 4px 9px;
}

.will-link {
  padding: 4px 6px;
}